.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}
/* 
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
} */

.App-title {
  padding: 4rem;
  margin: 0rem;
  font-size: 2.5rem;
  color: white;
}

.form-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}